<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header th:fragment="header">
        <nav>
            <div>
                <ul>
                    <li><a sec:authorize="isAuthenticated()" href="/home">Home</a></li>
                    <li>My insurances</li>
                    <li>Users</li>
                    <li>Events</li>
                    <li><a sec:authorize="isAuthenticated()" href="/profile">Profile</a></li>

                    <li>about us</li>
                    <li>contact</li>
                    <li><a sec:authorize="isAnonymous" href="/login">login</a></li>
                    <li><a sec:authorize="isAnonymous" href="/register"> register </a> </li>
                    <li>
                        <form method="post" th:action="@{/logout}">
                            <button sec:authorize="isAuthenticated()">Odhlásit se</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>