<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{Fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{Fragments/layout.html :: header}"></header>


<article>
    <div class="flash-success" th:text="${success}" th:if="${success}"></div>
    <header>
        <h1>My events</h1>
    </header>
    <section>
        <div class="grid">
            <ul class="grid-list">
                <li th:each="event: ${events}">
                    <div class="detail-link">
                        <a th:href="@{'events/' + ${event.eventId}}">
                            Event: #<span th:text="${event.eventId}"></span>
                        </a>
                    </div>
                    <p>Event description: <span th:text="${event.eventDescription}">...</span></p>
                    <p>Event date: <span th:text="${formatterEventDate}">...</span></p>
                    <div class="button-container">
                        <a class="edit-btn button" th:href="@{'events/' + ${event.eventId} + '/edit'}">Edit</a>
                        <a class="delete-btn button" th:href="@{'events/' + ${event.eventId} + '/delete'}">Delete</a>
                    </div>
                </li>
            </ul>
        </div>

    </section>
</article>
<footer th:replace="~{Fragments/layout.html :: footer}"></footer>
</body>
</html>