<!DOCTYPE html>

<html lang="cs-cz" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <div style="color:red" class="flash-message message-error" th:if="${param.error}"> Invalid user name or password </div>

    <h1>This is Login Page</h1>
    <form th:action="@{/login}" method="post">
        <div>
            <label for="uname">User name:</label><br>
            <input type="text" id="uname" name="userName"><br>
           <!-- <small style="color:red" th:errors="*{userName}"></small> -->
        </div>
        <div>
            <label for="pass"> Password:</label><br>
            <input type="password" id="pass" name="password"><br>

        </div>
        <div>
            <input type="submit" value="Log in">
        </div>
    </form>
    <a sec:authorize="isAnonymous"  href="/">home</a>
    <a sec:authorize="isAnonymous"  href="/register">register</a>
    <form method="post" th:action="@{/logout}">
        <button sec:authorize="isAuthenticated()">Odhlásit se</button>
    </form>
</body>
</html>