<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{Fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{Fragments/layout.html :: header}"></header>

<article>

    <section>
        <div class="box">
            <h1>Insurance creation form:</h1><br>
            <form th:action="@{/insurance/create}" th:object="${insuranceDTO}" method="post">

                <div class="input">
                    <label for="insuranceType">Insurance type:</label><br>
                    <select id="insuranceType" name="insuranceType" th:field="*{insuranceType}">
                        <option th:each="type : ${T(com.example.demo.models.enums.InsuranceType).values()}"
                                th:value="${type}" th:text="${type.displayName}"></option>
                    </select><br>
                    <small class="error" th:errors="*{insuranceType}"></small>
                </div>
                <div class="input">
                    <label for="amount">Sum insured:</label><br>
                    <input type="number" id="amount" name="amount" th:field="*{amount}"><br>
                    <small class="error" th:errors="*{amount}"></small>
                </div>
                <div class="input">
                    <label for="insuredItem">Insured item/person:</label><br>
                    <input type="text" id="insuredItem" name="insuredItem" th:field="*{insuredItem}"><br>
                    <small class="error" th:errors="*{insuredItem}"></small>
                </div>
                <div class="input">
                    <label for="startDate">Insurance start date:</label><br>
                    <input type="date" id="startDate" name="startDate" th:field="*{startDate}"><br>
                    <small class="error" th:errors="*{startDate}"></small>
                </div>
                <div class="input">
                    <label for="endDate">Insurance end date:</label><br>
                    <input type="date" id="endDate" name="endDate" th:field="*{endDate}"><br>
                    <small class="error" th:errors="*{endDate}"></small>
                </div>
                <input class="input-btn button long-btn" type="submit" value="Create insurance">
            </form>
            <p>
                <a class="centered-link" th:href="@{/insurance}">
                    <button class="back-btn button long-btn">
                        <img th:src="@{/images/back.png}" alt="back-icon" class="icon invert">Back</button>
                </a>
            </p>
        </div>
    </section>
</article>
<footer th:replace="~{Fragments/layout.html :: footer}"></footer>
</body>
</html>